<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changepasswordForm" (ngSubmit)="changepassword()">
    <ion-item>
      <ion-label>Current Password: </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>New Password: </ion-label>
      <ion-input type="password" formControlName="npassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Retype New Password: </ion-label>
      <ion-input type="password" formControlName="rnpassword"></ion-input>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit">Change Password</ion-button>
  </form>
  <br>
  <ion-label *ngIf = "changepasswordForm.controls.npassword.errors && submitted" color="danger">
    New Password is required.
  </ion-label>
  <br>
  <ion-label *ngIf = "changepasswordForm.controls.rnpassword.errors && submitted" color="danger">
    Retype New Password is required.
  </ion-label>
  <br>
  <!--to add label to show when the user does not have an account or when there is some error-->
</ion-content>
