 <!--THIS IS WHERE OLD LIST IS-->  
  <ion-header>
  <ion-toolbar>
    <ion-title>ExpenseTracker</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list> 
    <ion-item-sliding *ngFor="let list of items" (ionSwipe) = "delete()">
      <ion-item>
        {{list.name}}
      </ion-item> 

      <ion-item-options slide ="end">

        <ion-button (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

        <ion-button  (click)="add(item)">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>

        <ion-button  (click)="edit(item)">
          <ion-icon name="create"></ion-icon>
        </ion-button>

        <ion-button  (click)="calculator(item)">
          <ion-button (click) ="go()"><ion-icon name="calculator"></ion-icon></ion-button>
        </ion-button>

      </ion-item-options>

    </ion-item-sliding>
   <ion-button>Add Income </ion-button>
   
     <ion-button>Add Expense</ion-button>
   
  </ion-list>
  
</ion-content>
 

<!--NEW LIST FROM YOUTUBE
<ion-header>
  <ion-toolbar>
    <ion-title>
      YOUTUBE List 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item>
        <ion-label>{{item}}</ion-label>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="test()">
        <ion-item-option (click)="test()" >Unread</ion-item-option>
        <ion-item-option color="secondary"(click)="test()">Archive</ion-item-option>
      </ion-item-options>
   
      <ion-item-options side="end" (ionSwipe)="delete(i)">
        <ion-item-option color="danger"(click)="delete(i)" expandable>
          <ion-icon name="trash"></ion-icon> 
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

-->

 <!-- <ion-item *ngFor ="let item of items " >
  {{item}}
  
  </ion-item>
</ion-list>
</ion-content>-->



