<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Customer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="editInformationForm" (ngSubmit)="update()">

    <ion-item>
      <ion-label>Userid:</ion-label>
      <ion-input formControlName="userid"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>First Name:</ion-label>
      <ion-input formControlName="fname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name:</ion-label>
      <ion-input formControlName="lname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>NRIC</ion-label>
      <ion-input type="nric" formControlName="nric"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option *ngFor="let option of genderidentifier" [value]="option">
          {{option}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" color="tertiary"  type="submit">Update</ion-button>

    </form>

</ion-content>
