<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      ULTIMA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <h1>
Hi, <b><i>{{fname}} {{lname}}</i></b> 
</h1>

<ion-card style="width: 100%;margin: 0px;background-color: #00c0d6;color: white;">
  <ion-card-content>
    <ion-grid>
      <ion-col >
        <ion-row>
          <p style="font-size: 20px;">Total value (SGD)</p> 
        </ion-row>
        <ion-row>
          <p style="font-size: 20px;"> $ {{totalAmount}}</p> 
        </ion-row>
      </ion-col>
      <ion-button  float-right href="/deposit">  
      </ion-button>
</ion-grid>
  </ion-card-content>
<br>
<br>

</ion-card>
<div class="hr">

</div>
<div style="text-align: center;background-color: #007a88;height: 30px;border-radius: 20px;">
<h5 style="text-align: center;padding-top: 5px; color:white;"><b>My Deposits</b></h5><hr/>
</div>

<ion-card style="width: 100%;margin:0px;">
  
  <ion-item>
    <div style="width: 100%;">
      <div style="width: 100%;text-align: center; ">
        <p  ><b>Total Deposit Value (SGD) : <font style color='primary'>$ {{totalAmount}}</font></b></p>
      </div>
  </div>
  </ion-item>

</ion-card>

<div style="text-align: center;background-color: #007a88;height: 30px;border-radius: 20px;">
  <h5 style="text-align: center;padding-top: 5px; color:white;"><b>My Investments</b></h5><hr/>
  </div>
  
  <ion-card style="width: 100%;margin:0px;">
    
    <ion-list *ngFor = "let item of investmentlist">
      <ion-item [routerLink]="['/sellunit', item.id]">`
        <ion-list>
          <ion-item><h4>{{item.investmentname}}</h4></ion-item>
          <ion-item><p>{{item.quantity}}</p></ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  
  </ion-card>


<hr/>
<!---
<div style="text-align: center;background-color: #007a88;height: 30px;border-radius: 20px;">
  <h5 style="text-align: center;padding-top: 5px; color:white;"><b>My Withdrawals</b></h5><hr/>
  </div>

<ion-card style="width: 100%;margin:0px;">
  
  <ion-item>
    <div style="width: 100%;">
      <div style="width: 100%;text-align: center; ">
        <p  ><b>Total Withdrawal Value (SGD) : <font style color='primary'>$ {{totalWithdrawal}}</font></b></p>
      </div>
  </div>
  </ion-item>

</ion-card>
-->



<div style="text-align: center; background-color: #007a88;height: 30px;border-radius: 20px;">
<h5 style="text-align: center; padding-top: 5px; color:white;"><b>Performance Overview</b></h5><hr/>
</div>

<ion-card>
  <ion-card-content>

    <div style="width: 100%; display: flex;text-align: center; ">
      <p ><b> Net deposits (SGD) :<font style color='primary'> $ {{utAmount}}</font></b></p>
    </div>

    <div style="width: 100%; display: flex;text-align: center; ">
      <p ><b> Total Value (SGD) :<font style color='primary'> $ {{totalAmount}}</font></b></p>
    </div>
<!--<div style="width: 100%; display: flex;text-align: center; ">
      <p ><b> Total Returns after fees (SGD) :<font style color='primary'> $ {{totalReturn}}</font></b></p>
    </div>-->

  </ion-card-content>
</ion-card>

<ion-button expand="block" color="tertiary" (click)="depositChart()">Deposit Chart</ion-button>
<ion-button expand="block" color="tertiary" (click)="withdrawalChart()">Withdrawal Chart</ion-button>

</ion-content>
