<ion-header>

  <ion-toolbar>
    <div style="display: flex;">
    <ion-back-button defaultHref="/unittrust"></ion-back-button>
    <ion-title> Price Chart</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  

<div style="text-align: center;background-color: #ee99b5;height: 30px;border-radius: 20px;">
  <h5 style="text-align: center;padding-top: 5px; color:white;"><b>Price History Chart</b></h5><hr/>
  </div>

  <canvas baseChart 
  [datasets]="chartData" 
  [labels]="chartLabels" 
  [options]="chartOptions" 
  [colors]="chartColors"
  [legend]="showLegend" 
  [chartType]="chartType">
  </canvas>
  
  <ion-card style="
  background-color: aliceblue;
  ">
    <ion-card-header>
      <ion-card-title>Settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Line chart?</ion-label>
        <ion-toggle (ionChange)="typeChanged($event)" checked></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Show legend?</ion-label>
        <ion-toggle [(ngModel)]="showLegend"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Background color</ion-label>
        <ion-input type="text" [(ngModel)]="chartColors[0].backgroundColor"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  </ion-content>