<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button>
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="resetpasswordForm" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-button expand="block" color="tertiary" type="submit">Send Password Reset Link</ion-button>
  </form>
  <ion-label *ngIf = "resetpasswordForm.controls.email.errors && submitted" color="danger">
    Account Email is required. Eg. someone@email.com
  </ion-label>
  <!--to add label to show when the user does not have an account or when there is some error-->
</ion-content>

